<footer>
    <h2 style="height: 100px; background-color: blueviolet;display: flex; align-items: center;  justify-content: center; "><span style="color: aliceblue;">Trang Web mua gi` ban' nay'</span></h2>
  
</footer>